<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{siteName}}</title>
    </head>
    <body>
        {{> header}}
        <p>Portfolio page containing all projects.</p>

        {{> footer}}
    </body>
</html>